extends ../shared/layout
block main-content
 h1 Create an article
  //- form(method="post" action="/articles/upload")
  form(method="post" ref="uploadForm" id='uploadForm' enctype="multipart/form-data" action="/articles/imgupload")
    label(for="title") Title
    br
    input(type="text" name="title" id="title" value=title)
    br
    label(for="description") Description
    br
    input(type="text" name="description" id="description" value=description)
    br
    label(for="content") Write in your article
    br
    input(type="text" name="content" id="content" value=content)
    br
    label(for="author") Enter your name
    br
    input(type="text" name="author" id="author" value=author)
    br
    label(for="image") Upload image (optional)
    br
    input(type="file" name="image" id="image")
    br
    input(type="submit" value="Upload your article")