extends ../shared/layout
block main-content
  head
    title Edit the article
  body
    .wrapper.row2
      #container.clear
        section#services.clear
          each article in articles
            article.one_third
              form(method="post" ref="uploadForm" id='uploadForm' enctype="multipart/form-data" action="/articles/update?id=" + article._id)
                img(src='/images/' + article.image, alt='')
                br
                br
                label(for="title") Title
                br
                input(type="text" name="title" id="title" value=article.title)
                br
                label(for="description") Description
                br
                input(type="text" name="description" id="description" value=article.description)
                br
                label(for="content") Write in your article
                br
                input(type="text" name="content" id="content" value=article.content)
                br
                br
                input(type="file" name="image" id="image" value=article.image)
                br
                br
                input(type="submit" value="Upload the updated article")